 h1 {
 	text-align: center;
 	font-weight: bolder;
 }

 form {
 	width: 600px;
 	margin: 0 auto;
 }

 fieldset {
 	border: 1px solid #ccc;
 	padding: 20px;
 	border-radius: 5px;
 }

 legend {
 	font-size: 1.2em;
 	font-weight: bold;
 }

 label {
 	display: block;
 	margin-bottom: 10px;
 }

 input[type="text"],
 input[type="email"],
 input[type="password"],
 input[type="tel"],
 input[type="date"] {
 	width: 100%;
 	padding: 5px;
 	margin-bottom: 10px;
 	border: 1px solid #ccc;
 	border-radius: 3px;
 }
.validation{
	color: red;
	margin-left: 5px;
}
 input[type="radio"] {
 	margin-right: 5px;
 }

 button {
 	background-color: #007bff;
 	color: #fff;
 	padding: 10px 20px;
 	border: none;
 	border-radius: 3px;
 	cursor: pointer;
 }

 a {
 	text-decoration: none;
 	margin-left: 550px;
 	color: black;
 }

 a:hover {
 	text-decoration: underline;
 }